.name {
  animation-name: slideName;
  animation-duration: 1s;
}

.web-developer {
  animation-name: slideWebDev;
  animation-duration: 1.5s;
}

.web-img-container {
  width: 25px;
  height: 25px;
  animation-name: spin, fadeIn;
  animation-duration: 5s, 2s;
  animation-iteration-count: infinite, 1;
  animation-timing-function: linear;
}

.web-img-container > img {
  height: 100%;
  width: 100%;
  opacity: 0.9;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes slideWebDev {
  from {
    transform: translateX(300%);
  }
  to {
    transform: translateX(0px);
  }
}

@keyframes slideName {
  from {
    transform: translateX(-200%);
  }
  to {
    transform: translateX(0px);
  }
}

@media screen and (min-width: 600px) {
  .web-img-container {
    width: 35px;
    height: 35px;
  }
}

@media screen and (min-width: 650px) {
}
